*{
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #F5F5F5;
}
.nav_bar{
    width: 100%;
    height: 80px;
    justify-content: center;
    background-image: url('nav_bg.jpg');
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}
.nav_bar h1{
    text-align: center;
    color: #F5F5F5;
    padding-top: 10px;
    font-size: 40px;
    font-weight: 200;
}

.container{
    display: inline-flex;
    width: 100%;
    margin-top: 5px;
}
.text{
    width: 70%;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    padding: 15px;
    background-color: #F5F5F5;
    margin: 2%;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;

}
.image{
    width: 30%;
    height: 20%;
}
img{
    width: 100%;
    margin-top: 9%;
    padding-right: 15px;
}
img:hover{
    transform: scale(1.05);
}
footer{
    text-align: center;
    background-color: #DCDCDC;
    padding: 15px;
    font-family: serif;
    font-size: 16px;
    
}

